


span.marcaTexto {
    position: relative;
    z-index: 180!important;
    -moz-box-shadow: 0 0 1em #889;
    -webkit-box-shadow: 0 0 1em #888;
    box-shadow: 0 0 1em #889;
    padding: 4px;
    background: yellow;
}